.App {
  display: flex;
  position: relative;
  background: linear-gradient(#13181d, #20212e, #341b47);
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.play-button {
  padding: 30px;
  font-family: Josefin Sans, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 28px;
  transition: transform 0.3s ease;
}

.play-button:hover {
  transform: scale(1.1);
}